@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body::-webkit-scrollbar {
	width: 0.1em;
  }
   
  body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	outline: 1px solid slategrey;
  }

body {
	line-height: 1;
	font-family: 'Poppins', sans-serif;
	background-color: #fff;
	color: rgb(10, 10, 10);
	margin: 1rem 0.5rem;
}


.nav {
    align-items: center;
    display: flex;
    position: relative;
	padding-bottom: 1rem;
}
.nav-icon {
    position: absolute;
    left: 111px;
    top: -15px;
    width: 2.6rem;
}
.nav-heading{
	letter-spacing: 1.1px;
	font-weight: 500;
	font-size: 1.5rem;
}

.form{
	position: relative;
    align-items: center;
    display: flex;
}


.input{
padding: 6px 3.5rem;
/* background: rgb(31, 32, 35); */
border: none;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
border-radius: 4px;
font-size: 13px;
font-size: 1.2rem;
font-weight: 300;
letter-spacing: 1.1px;
color: rgb(25, 26, 26);
height: 46px;
appearance: none;
transition: border 0.15s ease 0s;
width: 100%;
max-width: 450px;
}

.input::placeholder{
	font-size: 1rem;
	font-weight: 300
}
.input:focus{
outline: none;
}



.search-icon{
	position: absolute;
	visibility: hidden;
	transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.4s;
}


.show-search-icon{
	visibility: visible;
	margin-left: 1rem;
    color: rgb(86, 90, 90);
	position: absolute;
	font-size: 1.5rem;
	transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
}

.search-icon:hover{
	transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.4s;
	transform: scale(1.1);
}

.search-icon:active{
	transform: scale(0.99);
	color: rgb(24, 226, 125);
}


.boxes {
	top: 240px;
	margin: 5rem auto;
	--size: 32px;
	--duration: 800ms;
	height: calc(var(--size) * 2);
	width: calc(var(--size) * 3);
	position: relative;
	transform-style: preserve-3d;
	transform-origin: 50% 50%;
	margin-top: calc(var(--size) * 1.5 * -1);
	transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
}
.boxes .box {
	width: var(--size);
	height: var(--size);
	top: 0;
	left: 0;
	position: absolute;
	transform-style: preserve-3d;
}
.boxes .box:nth-child(1) {
	transform: translate(100%, 0);
	animation: box1 var(--duration) linear infinite;
}
.boxes .box:nth-child(2) {
	transform: translate(0, 100%);
	animation: box2 var(--duration) linear infinite;
}
.boxes .box:nth-child(3) {
	transform: translate(100%, 100%);
	animation: box3 var(--duration) linear infinite;
}
.boxes .box:nth-child(4) {
	transform: translate(200%, 0);
	animation: box4 var(--duration) linear infinite;
}
.boxes .box > div {
	--background: #5c8df6;
	--top: auto;
	--right: auto;
	--bottom: auto;
	--left: auto;
	--translateZ: calc(var(--size) / 2);
	--rotateY: 0deg;
	--rotateX: 0deg;
	position: absolute;
	width: 100%;
	height: 100%;
	background: var(--background);
	top: var(--top);
	right: var(--right);
	bottom: var(--bottom);
	left: var(--left);
	transform: rotateY(var(--rotateY)) rotateX(var(--rotateX)) translateZ(var(--translateZ));
}
.boxes .box > div:nth-child(1) {
	--top: 0;
	--left: 0;
}
.boxes .box > div:nth-child(2) {
	--background: #145af2;
	--right: 0;
	--rotateY: 90deg;
}
.boxes .box > div:nth-child(3) {
	--background: #447cf5;
	--rotateX: -90deg;
}
.boxes .box > div:nth-child(4) {
	--background: #dbe3f4;
	--top: 0;
	--left: 0;
	--translateZ: calc(var(--size) * 3 * -1);
}
@keyframes box1 {
	0%, 50% {
		transform: translate(100%, 0);
   }
	100% {
		transform: translate(200%, 0);
   }
}
@keyframes box2 {
	0% {
		transform: translate(0, 100%);
   }
	50% {
		transform: translate(0, 0);
   }
	100% {
		transform: translate(100%, 0);
   }
}
@keyframes box3 {
	0%, 50% {
		transform: translate(100%, 100%);
   }
	100% {
		transform: translate(0, 100%);
   }
}
@keyframes box4 {
	0% {
		transform: translate(200%, 0);
   }
	50% {
		transform: translate(200%, 100%);
   }
	100% {
		transform: translate(100%, 100%);
   }
}




.cards-heading{
	font-size: 1.3rem;
	letter-spacing: 1.1px;
	text-transform: uppercase;
}

.cards-heading-two{
	margin-top: 2rem;
	font-size: 3rem;
	letter-spacing: 1.1px;
	text-transform: uppercase;
}

.cards-heading-two-span {
    position: absolute;
    font-size: 1.3rem;
    font-weight: 500;
}



  
 
.show-card-container{
	display: grid;
	width: 300px;
		text-overflow: clip;
		overflow: hidden;
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
		border-radius: 5px;
}

  .first-card-container{
display: grid;
	gap: 65px;

}

.img-container{
	display: grid;
	justify-content: center;
}

.card-img{
	width:200px;
}

.cards-section{
	justify-items: center;
	display: grid;
	gap: 2.1rem;
	grid-template-columns: repeat(auto-fit, minMax(min(100%, 250px), 1fr) );
	margin-top: 1.1rem;
  }


.cards{
	display: none;
}

.show-cards {
    display: grid;
}


.cards-info{
	display:grid;
	gap: 32px;
	text-align: center;
	color: #282a30;
}

.cards-info-2{
	display:grid;
	gap: 12px;
	text-align: center;
	color: #282a30;
	/* margin-bottom: 2rem */
}


.info-container{
margin: 1rem;
display: grid;
gap: 100px;
}


.temp {
    font-size: 5rem;
	letter-spacing: 1.1px;
    text-transform: capitalize;
	position: relative;
}
.Celsius-icon{
	visibility: hidden;
}

.show-Celsius-icon {
    visibility: visible;
    position: absolute;
    top: -46px;
    left: 156px;
}

.weth-condition{
	font-size: 1.5rem;
}

.location-li {
    justify-content: center;
    display: flex;
    align-items: center;
	position: relative;
}
.location-li p{
	text-decoration: underline;
}

.li-img{
	margin-right: 0.7rem;
	width: 28px;
}


.foreCast-card{
	display: grid;
	gap: 1rem;
	width: 250px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1rem;
    height: 240px;
    /* color: gray; */
}


.foreCast-card  img{
	width: 100px;
}


.foreCast-card-heading__img{
	display: grid;
	justify-content: center;
}

.foreCast-card-list{
	letter-spacing: 1px;
	display: grid;
    gap: 6px;
    color: gray;
    font-size: 0.9rem;
}

.foreCast-card p{
	text-transform: uppercase;
	font-size: 1.2rem;
	padding-bottom: 0.3rem;
}
@media (min-width:500px) {
	.info-container{
		margin: 1rem;
		display: grid;
		gap: 50px;
		}

		.first-card-container {
			gap: 8px;
		}
		
}